--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

# Instal this requirement file before everything else

# Recommended interpreter/tooling from environment.yml:
#   Python ^3.11.9
#   pip ^25.3

# Install these non-PyPI dependencies separately before using this file:
#   gcc/g++ 11
#   CUDA Toolkit 12.8.1 (nvidia/cuda docker image already contains this)

torch==2.11.0+cu128
torchaudio==2.11.0+cu128
torchvision==0.26.0+cu128
opencv-python
joblib
plyfile
tqdm
packaging
